<%= form_for @cellular, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :product_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :product_id, Product.all.collect {|p| [p.vender,p.id]}%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :version_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :version_id, Version.all.collect {|v| [v.version,v.id]} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :jid, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :jid, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                cellulars_path, :class => 'btn' %>
  </div>
<% end %>
