<%= form_for(@cellular) do |f| %>
  <% if @cellular.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cellular.errors.count, "error") %> prohibited this cellular from being saved:</h2>

      <ul>
      <% @cellular.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br />
    <%= f.select :product_id,Product.all.collect {|p| [p.vender,p.id]}%>
  </div>
  <div class="field">
    <%= f.label :version_id %><br />
    <%= f.select :version_id,Version.all.collect {|v| [v.version,v.id]}%>
  </div>
  <div class="field">
    <%= f.label :jid %><br />
    <%= f.text_field :jid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
