<!DOCTYPE html>
<html>
<head>
  <title>Ota</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">OTA Web Console</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Cellular", cellulars_path %></li>
	  <li><%= link_to "Version",versions_path %></li>
          <li><%= link_to "Delta", delta_path%></li>
          <li><%= link_to "Product",products_path %></li>
	  <li><%= form_for :filter, :method=>"get",:html=>{:class=>'navbar-search pull-right'},:url=>{:action=>'filter'} do |f|%>
	    <%= f.text_field :filter, :class =>'search-query',:value=>@filter_str,:placeholder=>"Search cellulars"%><% end %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
  
<div class="container">
  <div class="row">
    <div class="span12"><%= yield %></div>
  </div>

</div>
</body>
</html>
